body {
    

font-family: ff-meta-serif-web-pro, serif;

    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    color: #716f6f;
    font-size: 1.4rem;
    text-align: left;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #19b9e7;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

::-moz-selection { background: #19b9e7; color: #fff; text-shadow: none; }
::selection { background: #19b9e7; color: #fff; text-shadow: none; }


.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 16px 20px 0 20px;
	background: #19b9e7;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}

.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus,
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Top menu *****/

.navbar {
	padding-top: 10px;
	background: #333;
	background: rgba(51, 51, 51, 0.3);
	border: 0;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.navbar.navbar-no-bg { background: none; }

ul.navbar-nav {
	font-size: 16px;
font-weight: 700;
}

.navbar-inverse ul.navbar-nav li { padding-top: 8px; padding-bottom: 8px; }

.navbar-inverse ul.navbar-nav li .li-text { opacity: 0.8; }

.navbar-inverse ul.navbar-nav li a { display: inline; padding: 0; }
.navbar-inverse ul.navbar-nav li a:hover { color: #fff; opacity: 1; border-bottom: 1px dotted #fff; }
.navbar-inverse ul.navbar-nav li a:focus { color: #fff; outline: 0; opacity: 1; border-bottom: 1px dotted #fff; }

.navbar-inverse ul.navbar-nav li .li-social a {
	margin: 0 5px;
	font-size: 28px;
	vertical-align: middle;
}
.navbar-inverse ul.navbar-nav li .li-social a:hover,
.navbar-inverse ul.navbar-nav li .li-social a:focus { border: 0; color: #19b9e7; }

.navbar-brand {
	width: 286px;
	background: url(../img/logo.png) left center no-repeat;
	text-indent: -99999px;
}

/***** Top content *****/
.inner-bg {
    padding: 8px 0 170px 0;
	margin-left: 15px;
    margin-right: 15px;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #716f6f; text-align: center; 
text-transform: uppercase;
font-family: sofia-pro, sans-serif;

font-weight: 700;

font-style: normal;
}

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover,
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.top-content .top-big-link {
	margin-top: 18px;
}

.form-box {
	padding-top: 20px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #ffffff;
	text-align: left;
	margin-left: 1px;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 {
    margin-top: 0;
}

.badge {
    vertical-align: middle;
}

.badge-orange {
    background: #f26507;
}

.form-top .badge {
    font-size: 16px;
    padding: 6px 10px;
    line-height: 1.2;
    margin-right: 4px;
}

.form-bottom {
	padding: 18px 25px 30px 25px;
	background-color: #ffffff;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

/* Tabs */

.nav-tabs {font-weight: 700;}

.nav-tabs.nav-justified > li {
    background: #efefef; 
}

/*
form .form-bottom textarea {
	height: 100px;
}
*/

.card .card-body button.btn {
	min-width: 105px;
}

form .input-error {
	border-color: #e77019;
}

form.solar-form fieldset {
	display: none;
}

/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

	.navbar { padding-top: 0; }
	.navbar.navbar-no-bg { background: #333; background: rgba(51, 51, 51, 0.9); }
	.navbar-brand { height: 60px; margin-left: 15px; }
	.navbar-collapse { border: 0; }
	.navbar-toggle { margin-top: 12px; }

	.inner-bg { padding: 40px 0 110px 0; }
	.top-content .top-big-link { margin-top: 25px; }
	.top-content .top-big-link a.btn { margin-top: 10px; }

	.form-bottom { padding-bottom: 25px; }
	form .form-bottom button.btn { margin-bottom: 5px; }

}

@media (max-width: 415px) {

	h1, h2 { font-size: 32px; }

}


/* Retina-ize images/icons */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

	/* logo */
    .navbar-brand {
    	background-image: url(../img/logo@2x.png) !important; background-repeat: no-repeat !important; background-size: 123px 49px !important;
    }

}


/******** Map ***********/
.container-map {
    position: relative;
    height: 390px;
}

.container-map-2 {
    position: relative;
    float: left;
    width: 50%;
    height: 350px;
}

.map-bg {
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
}

.map-bg-title {
    line-height: 450px;
    text-align:center;
    font-size: 20px;
}

/****** Chart *******/
.container-chart {
    width: 100%;
    height: auto;
    min-height: 250px;
}


.chart-bg {
    position: absolute;
    display: none;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
}

.chart-bg-title {
    display: block;
    line-height: 250px;
    text-align:center;
    font-size: 20px;
}

/* Form Styling */
.overlay {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //background-color: rgba(0,0,0,0.5);
    background-color: rgba(0,0,0,0);
    z-index: 2;
    cursor: pointer;
}

.overlay .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    margin-top: -40px;
}

.slidecontainer {
    text-align: center;
}

.form-group {
    margin-bottom: 12px;
}

.checkbox-outer {
	background: #f4efe9;
	border-radius: 4px;
	padding: 4px 22px 0px 22px;
	margin-bottom: 8px;
}

.card {
    padding: 16px;
    border-radius: 4px;
    border-top: .35rem solid #07b7df;
	margin-bottom: 0.8rem;
    background: #ffffff;
    padding: 14px 18px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    min-height: 196px;
}

.card-block-head {
    border-radius: 4px;
    margin-bottom: 1rem;
    background-color: #716f6f;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}

.card-block-head h4 {
    text-transform: uppercase;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
}

.card-md { min-height: 380px; }

.card-lg { min-height: 400px; }

.btn {
    text-transform: uppercase;
    min-width: 110px;
}

.btn-warning {
    background-color:
        #f26507;
    border-color:
       #f26507;
}

.card-header {
	color: #07b7df;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.checkbox-inline {
    line-height: 1.6;
}

.radio-inline {
    line-height: 1.6;
}

/*
Custom CSS Starts
*/

.customContainer {
    padding: 0 15px;
    width: 190px;
}
.customContainer .valueX {
    font-size: 18px;
}
.customButton{
    width: 52px;
    /* height: 35px; */
    border: none;
    border: solid 1px #cccccc;
    border-radius: 25px;
    background: rgba(255, 255, 255,0);
    font-size: 34px;
    padding: 2px;
    padding-bottom: 5px;
}
#map > div > div > div.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom > div:nth-child(1) > div{
    display: inline-flex !important;
    width: 95px !important;
    height: auto !important;
    padding: 0px 15px !important;
}
#generation > div.col-lg-12 > div.card-lg {
    min-height: 520px;
}
div#map.container-map-2 {
    overflow: visible !important;
}
#map > div > div.gm-style > div:nth-child(1) {
    overflow: hidden;
}
#map > div > div > div:nth-child(11) > div {
    left: -85px !important;
    top: 97px !important;
}
form#reportLinkForm {
    background: #fff;
    border: 1px solid #ddd;
    margin-top: 15px;
    padding: 20px;
}
/*
Custom CSS ends
*/